.img{
height:20rem;
};

.one-hunnid{
    width:100%;
};

#row{
    font-family: 'Oswald', sans-serif;
}

.google-font{
    font-family: 'Oswald', sans-serif;
}

#train-name{
    font-weight:normal;
}

#destination{
    font-weight:normal;
}

#first-train-time{
    font-weight:normal;
}

#frequency{
    font-weight:normal;
}